#navi{width:100%;float:left;margin:0 0 0 0;padding:0;list-style:none;background-color:#f2f2f2;border-bottom:1px solid #ccc;border-top:1px solid #ccc;}#navi li{float:left;}#navi li a{display:block;padding:8px 15px!important;text-decoration:none;font-weight:bold;color:#069;border-right:1px solid #ccc;}#sidebar{width:75px;position:absolute;margin-left:-105px;margin-top:-25px;padding:6px;background:#FFF;border:#cccccc solid 1px;}.righttxt{display:none;}.b{display:block;}#rightContent img{display:block;margin:0 auto;}.banner{display:none;}@media(min-width:768px) {
	.righttxt {
		display:block;
	}
	.banner {
		display:initial;
	}
}
